.border {
    border-radius: 30px;
    padding: 14 0px;
}

body {
    width: 100%;
    background-color: #ddedf0;
    background-repeat: round;
    background-size: auto;
    margin: 0px;
}

.addlist {
    height: 48px;
    width: 7%;
    margin-Left: 29%;
    border-Radius: 10px;
    color: aliceblue;
    background-color: black;
    border-width: 5px;
    border-color: #81979b;
    transition: transform .2s;
    position: relative;
    top: 71px;
    left: 7%;
}

.btnpr{
    height: 40px;
    width: 26%;
    border-Radius: 10px;
    color: aliceblue;
    background-color: #000000;
    border-width: 5px;
    display: block;
    margin-top: 22px;
    margin-left: 70%;
    border-color: #81979b;
    transition: transform .2s;
    position: relative;
    left: -34%;
    top: -12px;
    font-size: 86%;
}

.btnpr:hover {
    border-color: aliceblue;
    -ms-transform: scale(1.1);
    /* IE 9 */
    -webkit-transform: scale(1.1);
    /* Safari 3-8 */
    transform: scale(1.1);
}

.dropdown {
    height: 45px;
    width: 6%;
    /* padding-top: 16px; */
    position: relative;
    /* bottom: 9.5px; */
    border-radius: 10px;
    border-width: 5px;
    color: aliceblue;
    border-color: #81979b;
    background-color: black;
    position: relative;
    top: 26px;
    left: 29%;
    font-size: 86%;
}

.dropdown:hover {
    border-color: aliceblue;
}


.down {

    margin-left: 20px;
}

.addlist:hover {
    border-color: aliceblue;
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.scroll {
    position: fixed;
    right: 5px;
    bottom: 70px;
    background-color: darkorange;
    display: block;
}


.input {
    height: 50px;
    width: 33%;
    font-size: xx-large;
    border-radius: 10px;
    border-width: 5px;
    border-color: black;
    position: relative;
    top: 126px;
}

.input:hover {
    border-color: aliceblue;
}

ul li .delete {
    height: 40px;
    width: 20%;
    font-size: small;
    background-color: rgb(255, 0, 0);
    color: aliceblue;
    margin-Left: 15px;
    transition: transform .2s;
    border-Radius: 10px;
    border-width: 5px;
    border-color: rgb(232, 80, 80)
}

ul li .delete:hover {
    border-color: aliceblue;
    -ms-transform: scale(1.1);
    /* IE 9 */
    -webkit-transform: scale(1.1);
    /* Safari 3-8 */
    transform: scale(1.1);
}

ul li .update:hover {
    border-color: aliceblue;
    -ms-transform: scale(1.1);
    /* IE 9 */
    -webkit-transform: scale(1.1);
    /* Safari 3-8 */
    transform: scale(1.1);
}


ul li .update {
    height: 40px;
    width: 20%;
    font-size: small;
    background-color: rgb(255 134 0);
    color: aliceblue;
    margin-Left: 15px;
    transition: transform .2s;
    border-Radius: 10px;
    border-width: 5px;
    border-color: rgb(254, 175, 49);
}

ul li .checkbox {
    width: 7%;
    margin-Left: 15px;
    width : 30px;
   height : 30px;
   position : relative;
   top :10px;
}

ul li {

    padding: 2px;
    font-Size: 30px;
    margin-top: 30px;
    margin-right: 14%;
}

ul{

    position: relative;
    bottom: 287px;
    width: 40%;
    left: 1%;
    list-style-type: none;
}

.titre {
    width: 70%;
    margin-top: 0px;
    text-align: center;
    margin-bottom: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* background-color: black; */
    color: #ffffff;
    background-repeat: round;
    height: 80px;
    padding-top: 35px;
    border-color: rgb(14, 113, 200);
    border-width: 100px;
    border-radius: 5px;
    position: relative;
    left: 15%;
    outline-color: #80c15a;
    /* outline-style: inset; */
    text-shadow: -5px 0px 0px #000000;
    font-size: xxx-large;
    padding-bottom: 10px;
    font-family: serif;
}

.logindiv {
    margin: auto;
    content-visibility: auto;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rectangle1 {

    width: 100%;
    Height: 100%;
    border-radius: 160px;
    transform: rotate(45deg);
    background-color: #C1E3D6;
    opacity: 1;
    position: relative;
    z-index: -1;
}


::placeholder {
    transform: translateX(-2px);
}

.search {
    border-radius: 10px;
    border-width: 3px;
    border-color: rgb(0, 0, 0);
    position: relative;
    bottom: 5px;
    height: 25px;
    text-indent: 5px;
    position: relative;
    top: 111px;
    width: 33%;
    font-size: large;
}

.search::placeholder {

    transform: translateX(2px);
}

.mydiv{
    text-align: center;
    box-shadow: 1px 1px 20px 20px #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 65px;
    height: fit-content
}

.lblfilter{

    position: relative;
        left: 29%;
        top: 15px;
        text-shadow: 2px 2px gray;
}

.inlinebtn{

    position: relative;
    left: 29%;
    width: 22%;

}

/* Responsive */
@media only screen and (max-width: 760px) {
    
    .inlinebtn{

        position: relative;
        left: 22%;
        width: 71%;
        /* background-color: red; */
        display: flex;
        flex-direction: row;
        top: -224px;
        justify-content: center;
        align-items: center;
    
    }
.search {
    border-radius: 10px;
    border-width: 3px;
    border-color: black;
    bottom: 5px;
    height: 24.5px;
    text-indent: 5px;
    position: relative;
    top: 17px;
    width:30%;
    font-size: large;
    left: -30%;
}


.input {
    height: 30px;
    width: 45%; 
    font-size: x-large;
    border-radius: 10px;
    border-width: 3px;
    border-color: black;
    position: relative;
    top: 75px;
    left:-22%;
}

.addlist {
    height: 36px;
    width: 18%;
    margin-Left: 35%;
    border-Radius: 10px;
    color: aliceblue;
    background-color: black;
    border-width: 5px;
    border-color: #81979b;
    transition: transform .2s;
    position: relative;
    top: 39px;
    left: 0%;
    font-size: x-small;
}


.dropdown {
    height: 35px;
    width: 18%;
    /* padding-top: 16px; */
   
    /* bottom: 9.5px; */
    border-radius: 10px;
    border-width: 5px;
    color: aliceblue;
    border-color: #81979b;
    background-color: black;
    position: relative;
    top: 4px;
    left: 39%;
    font-size: 86%;
}

.lblfilter{

    position: relative;
        left: 41%;
        top: -94px;
        text-shadow: 2px 2px gray;
        font-size: x-large;
}


.btnpr {
    height: 32px;
    width: 18%;
    border-Radius: 10px;
    color: aliceblue;
    background-color: #000000;
    border-width: 3px; 
    display: block;
    margin-top: 22px;
    margin-left: 1%;
    border-color: #81979b;
    transition: transform .2s;
    position: relative;
    left: 0%;
    top: 20px;
    font-size: 63%;
}
ul li .delete {
    height: 39px;
    width: 19%;
    background-color: rgb(255, 0, 0);  
    color: aliceblue;
    margin-Left: 7px;
    transition: transform .2s;
    border-Radius: 10px;
    border-width: 5px;
    border-color: rgb(232, 80, 80);
    font-size: x-small;
}
ul li .update {
    height: 40px;
    width: 19%;
    background-color: rgb(255 134 0); 
    color: aliceblue;
    margin-Left: 12px;
    transition: transform .2s;
    border-Radius: 10px;
    border-width: 5px;
    border-color: rgb(254, 175, 49);
    font-size: x-small;
}

ul li .checkbox {
    width: 7%;
    margin-Left: 12px;
    width : 9%;
   height : 30px;
   position : relative;
   top :10px;
}
ul li {

    padding: 1px; 
    font-Size: 26px;
    margin-top: 30px;
    margin-right: -91%;
}
ul{

    position: relative;
    bottom: 122px;
    width: 50%;
    left: -33%;
    list-style-type: none;
}
  }